HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
D:\Faks\Praktikum_OptiTech\src\main\java\si\feri\pkm\optitech\Database\SQLDatabaseConnection.java
C:\Users\UZ\IdeaProjects\PraktikumII_OptiTech\src\main\java\si\feri\pkm\optitech\Database\SQLDatabaseConnection.java
src/main/java/si/feri/pkm/optitech/Database/SQLDatabaseConnection.java

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

